#arcDeTriumphDiv {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 28%;
    left: 24%;
    z-index: 2;
}
#eiffelTowerDiv {
    width: 55px;
    height: 69px;
    position: absolute;
    top: 43.3%;
    left: 23.83%;
    z-index: 2;
}
#catacombsDiv {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 78%;
    left: 45.5%;
    z-index: 3;
}
#placeLaConcordeDiv {
    width: 50px;
    height: 52px;
    position: absolute;
    top: 35%;
    left: 38%;
    z-index: 3;
}
#moulinRougeDiv {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 45.5%;
    z-index: 3;
}
#sacreCoeurDiv {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 12%;
    left: 53%;
    z-index: 3;
}
#operaGarnierDiv {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 30%;
    left: 45%;
    z-index: 3;
}
#palaisRoyalDiv {
    width: 65px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 51%;
    z-index: 3;
}
#orangerieDiv {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 43.5%;
    left: 43.5%;
    z-index: 3;
}
#hotelDesInvalidesDiv {
    width: 55px;
    height: 63px;
    position: absolute;
    top: 44%;
    left: 33%;
    z-index: 2;
}
#montparnasseTowerDiv {
    width: 55px;
    height: 72px;
    position: absolute;
    top: 62%;
    left: 40%;
    z-index: 2;
}
#sainteChapelleDiv {
    width: 55px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}
#notreDameDiv {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 53%;
    left: 58%;
    z-index: 2;
}
#placeDesVosgesDiv {
    width: 70px;
    height: 45px;
    position: absolute;
    top: 51%;
    left: 64%;
    z-index: 2;
}
#pantheonDiv {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 63%;
    left: 55%;
    z-index: 2;
}

.divToolTip {
    background-color: rgb(148, 142, 142);
    box-shadow: 5px 5px 5px rgb(100, 97, 97);
    width: 7rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: -50%;
    top: -10%;
    opacity: 0;
}
.divs:not(:hover) .divToolTip{
    opacity: 0;
    transition: opacity 0.1s ease;
}
.divs:hover .divToolTip{
    opacity: 1;
    transition: opacity 0.3s ease 1.2s;
}

.divToolTip::before {
    content: '';
    border: 10px solid transparent;
    border-top-color: rgb(148, 142, 142);
    position: absolute;
    right: calc(50% + width);
    top: 100%;
}
.divBTN {
    background-color: rgb(148, 142, 142);
    border: 1px solid rgb(207, 194, 194);
    color: white;
    box-sizing: border-box;
    padding-left: 3px;
    padding-right: 3px;
    margin: auto;
}
.divBTN:hover {
    background-color: rgb(207, 194, 194);
    color: black;
}