#navbar {
    position: fixed;
    background-color:var(--bg-secondary);
    border-right: 4px solid var(--text-primary);
    transition: width 0.1s ease;
    z-index: 3;
}
#navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item {
    width: 100%;
    height: 5rem;
}
.nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: var(--text-primary);
}

.link-text {
    display: none;
    margin-left: 1rem;
    font-family: 'Parisine Office Web';
    font-size: 1.1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
    fill: var(--text-primary);
}

.nav-item:first-child {
    margin-top: 20px;
}
.nav-item:last-child {
    margin-top: auto;
}

.nav-item:hover {
    background-color: var(--bg-primary);
    transition: background-color 0.1s ease;
    .nav-link svg {
        fill: var(--bg-secondary);
    }
}
.nav-item:not(:hover) {
    background-color: none;
    transition: background-color 0.1s ease;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-primary);
    background-color: var(--bg-primary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}
.logo svg {
    transform: rotate(0deg);
    transition: transform 0.3s;
}
#navbar:hover .logo svg {
    transform: rotate(90deg);
}
.logo-text {
    display: none;
    margin-left: 1rem;
}

/* small screens */
@media only screen and (max-width: 600px) {
    #navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }
    .logo {
        display: none;
    }
    #navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    .nav-link:focus {
        background-color: var(--bg-primary);
    }

}
/* large screen */
@media only screen and (min-width: 600px) {
    #navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }    
    #navbar:hover {
        width: 16rem;
        .link-text, .logo-text {
            display: inline;
        }
    }
}
