
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Poppins:wght@300&family=Rosario&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&family=Passion+One:wght@700&family=Poppins:wght@300&family=Rosario&display=swap');

/* all/root elements*/

* {
    margin: 0;
    padding: 0;
    transition: all 0.1s;
}

:root {
    font-size: 16px;
    --text-primary: #05386b;
    --black: #000000;
    --bg-secondary: #cf142b;
    --white-primary: #edf5e1;
    --border-primary: #b1b2b4;
    --shadow-primary: #87898b;
    --border-hover: rgb(148, 142, 142);
    --shadow-hover: rgb(102, 98, 98);
    --font-primary: 'Graduate', serif;
    --font-secondary: 'Rosario', sans-serif;
}

/* animations */

@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
}
@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes slideOutRight {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}

/* body + webkit */

body {
    background: linear-gradient(to right,var(--text-primary), var(--white-primary), var(--bg-secondary)) no-repeat fixed;
    color: var(--black);
}

body::-webkit-scrollbar {
    width: 0.20rem;
}
body::-webkit-scrollbar-track {
    background: var(--white-primary);
}
body::-webkit-scrollbar-thumb {
    background: var(--bg-secondary);
    border-radius: 15px;
    border: 2px solid var(--text-primary);
}

main {
    margin-left: 5rem;
    padding-left: 20px;
}

.h4s {
    text-align: center;
    font-family: var(--font-secondary), sans-serif;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}
#instructionalText {
    margin-top: 3rem;
}
#afterWordText {
    margin-top: 2rem;
    font-size: 0.75rem;
}

#titleH1 {
    animation: 0.4s ease-out 0s 1 slideInLeft;
    padding: 30px;
    text-align: center;
    font-family:var(--font-primary), sans-serif;
    font-size: 40px;
}
#parisInfoSection1, #parisInfoSection2 {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    text-align: justify;
}
#btnParent {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 784px;
    height: 582px;
    display: flex;
    border: 0.35rem solid var(--border-primary);
    box-shadow: 8px 8px 8px var(--shadow-primary);
}

img {
    z-index: 1;
}

#interactiveMap {
    width: 784px;
    height: 582px;
    left: 50%;
    z-index: 1;
}
#btnParent:hover {
    border: 0.35rem solid var(--border-hover);
    box-shadow: 8px 8px 8px var(--shadow-hover);
}
#disableOtherElements {
    position: absolute;
    width: 100vh;
    height: 100vw;
    z-index: 9;
    min-width: 100%;
    min-height: 100%;
    display: none;
}
#loginPrompt {
    width: 500px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    z-index: 10;
    margin: auto;
    padding: 0;
    display: none;
    flex-direction: column;
    align-items: center;
}
#loginPrompt > h3 {
    text-align: center;
    font-family: var(--font-primary);
    color: var(--black);
    font-size: 30px;
    margin-top: 2rem;
}
#loginPrompt > form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#loginPrompt > form > input {
    width: 90%;
    height: 3rem;
    font-size: 1.8rem;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: var(--font-secondary);
    vertical-align: center;
}
#loginPrompt > form > input[type=submit] {
    padding: 0;
    width: 40%;
    height: 2rem;
    font-size: 1rem;
}
#loginPrompt > form > button {
    width: 15%;
    height: 1.5rem;
    position: absolute;
    left: 81%;
    top: 90%;
}

#loginPrompt > form > label {
    font-family: var(--font-secondary);
    font-size: 20px;
    margin-bottom: 7px;
    width: 90%;
}

#screenTooSmallPrompt {
    width: 500px;
    height: 400px;
    background-color: var(--text-primary);
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    padding: 0;
}

#screenTooSmallPrompt > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#screenTooSmallPrompt > button {
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-family: var(--font-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
#screenTooSmallPrompt h2 {
    font-size: 3rem;
    font-family: var(--font-secondary);
    padding: 0;
    margin: 0;
    flex: 0.8;
    color: var(--white-primary);
}
#screenTooSmallPrompt svg {
    width: 20px;
    height: 20px;
    fill: var(--white-primary);
}
#screenTooSmallPrompt > button:hover {
    background-color: var(--bg-secondary);
}

#screenTooSmallPrompt h3 {
    font-size: 1.5rem;
    font-family: var(--font-secondary);
    flex: auto;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    color: var(--white-primary);
}
.container {
    display: flex; 
    justify-content: center; 
    animation: 0.4s ease-out 0s 1 slideInRight;
}
#mapContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width:600px) {
    main {
        margin: 0;
        transition: none;
    }
}