<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visit Paris | <%= title %></title>
    <link rel="icon" type="image/x-icon" href="images/visit-paris-website-favicon---black.png">
    <link rel="stylesheet" href="css/navBar.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/toDo.css">
    <script src="scripts/script.js" defer></script>
    <script src="scripts/changeTheme.js" defer></script>
    <script src="scripts/login-logic.js" defer></script>
</head>