<form class="loginForms" id="loginPage">
    <h1 class="labels">Log In</h1>
    <div class="labelFormPair">
        <label class="labels" for="email">Email:</label>
        <input id="email" type="email" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="password">Password:</label>
        <input id="password" type="password" required>
    </div>
    <button class="buttons" id="submit" type="submit">Verify email</button>
    <button class="buttons" id="closeBTN">Close</button>
    <label id="accountLBL" class="labels">Don't have an account? <a href="#" id="goToSignup" class="nav-link">Sign up</a></label>
    <div class="verification-container">
        <h4 class="labels">Enter the 6 digit code sent to your email</h3>
        <div class="code-input">
            <input type="text" maxlength="1" pattern="[0-9]" title="Please enter a single digit" required readonly>
            <input type="text" maxlength="1" pattern="[0-9]" title="Please enter a single digit" required readonly>
            <input type="text" maxlength="1" pattern="[0-9]" title="Please enter a single digit" required readonly>
            <input type="text" maxlength="1" pattern="[0-9]" title="Please enter a single digit" required readonly>
            <input type="text" maxlength="1" pattern="[0-9]" title="Please enter a single digit" required readonly>
            <input type="text" maxlength="1" pattern="[0-9]" title="Please enter a single digit" required readonly>
        </div>
    </div>
</form>