<form class="loginForms settingsPage">
    <h1 class="labels">Settings</h1>
    <div class="labelFormPair">
        <label class="labels" for="firstName">First Name:</label>
        <input name="firstName" class="firstName" type="text">
    </div>
    <div class="labelFormPair">
        <label class="labels" for="lastName">Surname:</label>
        <input name="surname" class="lastName" type="text">
    </div>
    <div class="labelFormPair">
        <label class="labels" for="email">Email:</label>
        <input name="email" class="email" type="email">
    </div>
    <div class="labelFormPair">
        <label class="labels" for="password">Password:</label>
        <input name="password" class="password" type="password">
    </div>
    <button class="buttons viewPassword" type="submit">Update details</button>
    <button class="buttons closeSettings">Close</button>
    <button class="buttons logOut">Log out</button>
</form>