<form action="/register" method="POST" class="loginForms signupPage">
    <div class="error-message fail"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> Error: You need to make an account before accessing the settings page.</div>
    <h1 class="labels">Sign Up</h1>
    <div class="labelFormPair">
        <label class="labels" for="firstName">First Name:</label>
        <input name="firstName" class="firstName" type="text" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="lastName">Surname:</label>
        <input name="surname" class="lastName" type="text" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="email">Email:</label>
        <input name="email" class="email" type="email" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="password">Password:</label>
        <input name="password" class="password" type="password" required>
    </div>
    <button class="buttons submit" type="submit">Sign up</button>
    <button class="buttons closeSignup">Close</button>
    <label class="labels accountLBL">Have an account? <a href="#" class="nav-link goToLogin">Login</a></label>
</form>