<form action="" class="loginForms" id="signupPage">
    <h1 class="labels">Sign Up</h1>
    <div class="labelFormPair">
        <label class="labels" for="firstName">First Name:</label>
        <input id="firstName" type="text" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="lastName">Surname:</label>
        <input id="lastName" type="text" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="email">Email:</label>
        <input id="email" type="email" required>
    </div>
    <div class="labelFormPair">
        <label class="labels" for="password">Password:</label>
        <input id="password" type="password" required>
    </div>
    <button class="buttons" id="submit" type="submit">Sign up</button>
    <button class="buttons" id="closeBTN">Close</button>
    <label id="accountLBL" class="labels">Have an account? <a href="#" id="goToLogin" class="nav-link">Login</a></label>
</form>