<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Interactive Map'}) %>
<body>
    <%- include('../partials/nav') %>
    <main id="needsMargin">
        <h1 id="titleH1">Parisian Interactive Map</h1>
        <div class="container" id="mapContainer">
            <iframe src="https://www.google.com/maps/d/embed?mid=17nn5a1C5DQBqBb7iXsC6LaTz2FAfv-M&ehbc=2E312F" width="740" height="580"></iframe>
            <h4 id="instructionalText" class="h4s"> Click on a monument for directions or the website!</h4>
        </div>
        
    </main>
    <%- include('../partials/signupForm') %>
    <%- include('../partials/loginForm') %>
</body>
</html>