<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Interactive Map'}) %>
<body>
    <%- include('../partials/nav') %>
    <main id="needsMargin">
        <h1 id="titleH1">Parisian Interactive Map</h1>
        <div class="container" id="mapContainer">
            <iframe src="https://www.google.com/maps/d/embed?mid=17nn5a1C5DQBqBb7iXsC6LaTz2FAfv-M&ehbc=2E312F" width="740" height="580"></iframe>
            <h4 id="instructionalText" class="h4s"> Click on a monument for directions or the website!</h4>
        </div>  
    </main>
    <div id="success" class="error-message"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> Successfully logged in!</div>
    <%- include('../partials/signupForm') %>
    <%- include('../partials/loginForm') %>
</body>
</html>